.vscode/settings.json
Aula 1 - ML, Numpy e Pandas/.ipynb_checkpoints/GilAndradeGontijo-checkpoint.ipynb
Aula 1 - ML, Numpy e Pandas/.ipynb_checkpoints/1_2_NumPy_Pandas-checkpoint.ipynb
Aula 2 - EDA e Aprendizado não Supervisionado/.ipynb_checkpoints/2.2.GilAndradeGontijo-checkpoint.ipynb
Aula 3 - Classificação/.ipynb_checkpoints/Classificação-checkpoint.ipynb
Aula 3 - Classificação/.ipynb_checkpoints/GilAndradeGontijo_entrega3-checkpoint.ipynb
